<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_ChatConnector>
            <version>1.0.0</version>
        </Hackathon_ChatConnector>
    </modules>
    <global>
        <events>
            <customer_register_success>
                <observers>
                    <hackathon_chatconnector>
                        <class>Hackathon_ChatConnector_Model_Events_Customer_Register</class>
                        <method>customerRegisterSuccess</method>
                    </hackathon_chatconnector>
                </observers>
            </customer_register_success>

            <sales_order_payment_cancel>
                <observers>
                    <hackathon_chatconnector>
                        <class>Hackathon_ChatConnector_Model_Events_Sales_Order</class>
                        <method>salesOrderPaymentCancel</method>
                    </hackathon_chatconnector>
                </observers>
            </sales_order_payment_cancel>
            <!--
                        <controller_action_postdispatch_newsletter_subscriber_confirm>
                            <observers>
                                <hackathon_chatconnector>
                                    <class>Hackathon_ChatConnector_Model_Observer</class>
                                    <method>controllerActionPostdispatchNewsletterSubscriberConfirm</method>
                                </hackathon_chatconnector>
                            </observers>
                        </controller_action_postdispatch_newsletter_subscriber_confirm>
            -->
        </events>
        <blocks>
            <hackathon_chatconnector>
                <class>Hackathon_ChatConnector_Block</class>
            </hackathon_chatconnector>
        </blocks>
        <helpers>
            <hackathon_chatconnector>
                <class>Hackathon_ChatConnector_Helper</class>
            </hackathon_chatconnector>
        </helpers>
        <models>
            <hackathon_chatconnector>
                <class>Hackathon_ChatConnector_Model</class>
                <resourceModel>hackathon_chatconnector_resource</resourceModel>
            </hackathon_chatconnector>
            <hackathon_chatconnector_resource>
                <class>Hackathon_ChatConnector_Model_Resource</class>
                <entities>
                    <queue>
                        <table>hackathon_chatconnector_queue</table>
                    </queue>
                </entities>
            </hackathon_chatconnector_resource>
        </models>
        <resources>
            <hackathon_chatconnector_setup>
                <setup>
                    <module>Hackathon_ChatConnector</module>
                    <class>Hackathon_ChatConnector_Model_Resource_Setup</class>
                </setup>
            </hackathon_chatconnector_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <hackathon_chatconnector_queue_process>
                <schedule>
                    <config_path>hackathon_chatconnector/general/cron_expr_process</config_path>
                </schedule>
                <run>
                    <model>hackathon_chatconnector/cron_proccess::run</model>
                </run>
            </hackathon_chatconnector_queue_process>
            <hackathon_chatconnector_queue_cleanup>
                <schedule>
                    <config_path>hackathon_chatconnector/general/cron_expr_cleanup</config_path>
                </schedule>
                <run>
                    <model>hackathon_chatconnector/cron_cleanup::run</model>
                </run>
            </hackathon_chatconnector_queue_cleanup>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_ChatConnector/>
            </modules>
        </suite>
    </phpunit>
    <chatconnector>
        <connectors>
            <slack>
                <name>Slack</name>
                <class>Hackathon_ChatConnector_Model_Connectors_Slack</class>
            </slack>
            <hipchat>
                <name>HipChat</name>
                <class>Hackathon_ChatConnector_Model_Connectors_HipChat</class>
            </hipchat>
        </connectors>
    </chatconnector>
    <default>
        <hackathon_chatconnector>
            <general>
                <retry_frequency>7200</retry_frequency>
                <cron_expr_process>*/5 * * * *</cron_expr_process>
                <cron_expr_cleanup>0 2 * * *</cron_expr_cleanup>
            </general>
        </hackathon_chatconnector>
    </default>
</config>
